### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [2]:
#Count players & remove empty cells
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
purchase_data["SN"]

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78
Name: SN, Length: 780, dtype: object

In [4]:
unique_players = len(purchase_data['SN'].unique())
player_count = pd.DataFrame([{'Total Players': unique_players}])
player_count

   Total Players
0            576

# Purchasing Analysis (Total)

In [5]:
# Set values
unique_items = len(purchase_data['Item ID'].unique())
average_price = purchase_data['Price'].mean()
total_purchases = purchase_data['Item ID'].count()
total_revenue = purchase_data['Price'].sum()

purchase_analysis = pd.DataFrame([{'Number of Unique Items': unique_items,
                                  'Average Price': round(average_price,2),
                                  'Number of Purchases': total_purchases,
                                  'Total Revenue': round(total_revenue,2)}])
purchase_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

# Gender Demographics

In [6]:
#Counts and percents
genders = purchase_data.groupby(['Gender'])
gender_count =genders['SN'].nunique()
percent = round(gender_count / unique_players * 100, 2).map('{:.2f}%'.format)

In [7]:
#Set table for Gender Demographics
clean_gender_demo = pd.DataFrame({'Total Count': gender_count,
                                 'Percentage of Players': percent})
clean_gender_demo.head()

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

In [8]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_count = genders['Item ID'].count()
avg_pur_price = genders['Price'].mean().map('${:.2f}'.format)
total_value = genders['Price'].sum()
avg_pp = round(total_value / clean_gender_demo['Total Count'],2).map('${:.2f}'.format)

In [9]:
#Create a summary data frame to hold the results
gender_purchases = pd.DataFrame({'Purchase Count': purchase_count,
                                'Average Purchase Price': avg_pur_price,
                                'Total Purchase Value': total_value.map('${:.2f}'.format),
                                'Avg Total Purchase per Person': avg_pp})

In [10]:
#Optional: give the displayed data cleaner formatting
gender_analysis_clean = gender_purchases.rename(columns={'Purchase Count': 'Total Purchases', 'Average Purchase Price':'Avg Purchase $','Total Purchase Value': 'Total Purchase $','Avg Total Purchase per Person': 'Avg Total $ Per Person'})

In [11]:
#Display the summary data frame for Purchasing Analysis (Gender)
gender_analysis_clean.head()

,Total Purchases,Avg Purchase $,Total Purchase $,Avg Total $ Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [12]:
purchase_data['Age'].describe

<bound method NDFrame.describe of 0      20
1      40
2      24
3      24
4      23
       ..
775    21
776    21
777    20
778     7
779    24
Name: Age, Length: 780, dtype: int64>

In [13]:
#Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
age_groups = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [14]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data['Age Group'] = pd.cut(purchase_data['Age'],bins, labels=age_groups,include_lowest = True)

In [15]:
#Calculate the numbers and percentages by age group
#Optional: round the percentage column to two decimal points
age_demo = purchase_data.groupby(['Age Group'])
age_count = age_demo['SN'].nunique()
age_percent = round(age_count / unique_players * 100, 2).map('{:.2f}%'.format)

In [16]:
#Create a summary data frame to hold the results
age_demographics = pd.DataFrame({'Total Count': age_count,
                                'Percentage of Players': age_percent})

In [17]:
#Display Age Demographics Table
age_demographics

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                  5                 0.87%

## Purchasing Analysis (Age)

In [18]:
#Bin the purchase_data data frame by age

In [19]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
age_purchase_count = age_demo['Item ID'].count()
age_avg_pur_price = age_demo['Price'].mean().map('${:.2f}'.format)
age_total_value = age_demo['Price'].sum()
age_avg_pp = round(age_total_value / age_demographics['Total Count'],2).map('${:.2f}'.format)

In [20]:
#Create a summary data frame to hold the results
age_purchases = pd.DataFrame({'Purchase Count': age_purchase_count,
                                'Average Purchase Price': age_avg_pur_price,
                                'Total Purchase Value': age_total_value.map('${:.2f}'.format),
                                'Avg Total Purchase per Person': age_avg_pp})

In [21]:
#Optional: give the displayed data cleaner formatting
age_purch_clean = age_purchases.rename(columns={'Purchase Count': 'Total Purchases', 'Average Purchase Price':'Avg Purchase $','Total Purchase Value': 'Total Purchase $','Avg Total Purchase per Person': 'Avg Total $ Per Person'})

In [22]:
#Display the summary data frame
age_purch_clean

,Total Purchases,Avg Purchase $,Total Purchase $,Avg Total $ Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,6,$2.79,$16.71,$3.34

## Top Spenders

In [23]:
#Run basic calculations to obtain the results in the table below
sn_group = purchase_data.groupby(['SN'])
top_purchase_count = sn_group['Item ID'].count()
top_avg_pur_price = sn_group['Price'].mean().map('${:.2f}'.format)
top_total_value = sn_group['Price'].sum()

In [24]:
#Create a summary data frame to hold the results
sn_top_group = pd.DataFrame({'Purchase Count': top_purchase_count,
                                'Average Purchase Price': top_avg_pur_price,
                                'Total Purchase Value': top_total_value.map('${:.2f}'.format)})

In [25]:
#Sort the total purchase value column in descending order
sort_spenders = sn_top_group.sort_values(['Total Purchase Value'], ascending=False)
top_spenders = sort_spenders.iloc[0:5]

In [26]:
#Optional: give the displayed data cleaner formatting
top_clean = top_spenders.rename(columns={'Purchase Count': 'Total Purchases', 'Average Purchase Price':'Avg Purchase $','Total Purchase Value': 'Total Purchase $'})

In [27]:
#Display a preview of the summary data frame
top_clean

              Total Purchases Avg Purchase $ Total Purchase $
SN
Haillyrgue51                3          $3.17            $9.50
Phistym51                   2          $4.75            $9.50
Lamil79                     2          $4.64            $9.29
Aina42                      3          $3.07            $9.22
Saesrideu94                 2          $4.59            $9.18

## Most Popular Items

In [28]:
#Retrieve the Item ID, Item Name, and Item Price columns
item_items = purchase_data[['Item ID', 'Item Name', 'Price']]
item_items

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [29]:
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
popular_items = purchase_data.groupby(['Item ID', 'Item Name'])
top_item = popular_items['Item ID'].count()
avg_item_price = popular_items['Price'].mean().map('${:.2f}'.format)
item_total_value = popular_items['Price'].sum()

In [30]:
#Create a summary data frame to hold the results
most_pop_items = pd.DataFrame({'Purchase Count': top_item,
                                'Average Purchase Price': avg_item_price,
                                'Total Purchase Value': item_total_value.map('${:.2f}'.format)})

In [31]:
#Sort the purchase count column in descending order
sort_items = most_pop_items.sort_values(['Purchase Count'], ascending=False)
top_items = sort_items.iloc[0:5]

In [32]:
#Optional: give the displayed data cleaner formatting

items_clean = top_items.rename(columns={'Purchase Count': 'Total Purchases', 'Average Purchase Price':'Avg Purchase $','Total Purchase Value': 'Total Purchase $'})

In [33]:
#Display a preview of the summary data frame
items_clean

,,Total Purchases,Avg Purchase $,Total Purchase $
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
#Sort the above table by total purchase value in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame
sort_profit = items_clean.sort_values(['Total Purchase $'], ascending=False)
top_revenue = sort_profit.iloc[0:5]
top_revenue

,,Total Purchases,Avg Purchase $,Total Purchase $
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99